<html>

<head>
  <title>React Isomorphic App</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <div data-reactid=".1oyrl5y641s" data-react-checksum="477639809"><span data-reactid=".1oyrl5y641s.0">New Story - </span><span data-reactid=".1oyrl5y641s.1">state-headline value</span></div>
  </div>
  <script src="js/app.js" defer="defer"></script>
</body>

</html>
