$font-0: 'Roboto';
$font-1 : "Rufina", serif;

$url-0: url('../fonts/Roboto-Medium-webfont.eot');
$url-1: url('../fonts/Roboto-Medium-webfont.eot?#iefix');
$url-2: url('../fonts/Roboto-Medium-webfont.woff');
$url-3: url('../fonts/Roboto-Medium-webfont.ttf');
$url-4: url('../fonts/Roboto-Medium-webfont.svg#robotomedium');

$bg-layout-1: #FFFFFF;
$bg-layout-2: #000000;
/*manual*/
$bg-color: #EBF4F3;
$border-color: #ddd;
$text-color: #000;
$text-color-2: #EF7583;
$text-color-hover: #5AA599;
$text-color-active: #336960;

$xs-px: 1px;
$s-px: 3px;
$m-px: 5px;
$l-px: 10px;
$xl-px: 20px;
$xxl-px: 40px;

$font-size-xxs: 6px;
$font-size-xs: 8px;
$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;
$font-size-xxl: 18px;
