.app--header {
  position: relative;

  .app--logo {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .app--navbar li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}


.app--header--news {
  position: relative;
  
  a{
    color: $text-color;
  }

  .app--logo {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .app--navbar li {
    display: inline-block;
    margin-right: $max-padding;

    &:last-child {
      margin-right: 0;
    }
  }
  .app--navbar-top-container{
    background: $bg-color;
    padding: $normal-padding;

    .app--navbar{
      margin: $normal-padding 0;
    }
  }
  .header-group-bottom{
    border-bottom: 3px solid $bg-color;
  }
}
