/*Default Layout*/
.app--header {
  position: relative;

  .app--logo {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .app--navbar li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}


/*News Layout*/
@define-mixin appNavbar {
  li{
    display: inline-block;
    margin-right: $xl-px;

    .level-1{
      display: none;
      position: absolute;
      padding: 0 $xl-px;
      z-index: 10;
      background: white;
      border: 1px solid $border-color;
      margin-left: -30px;
      min-width: 120px;

      li{
        border-bottom: 1px solid $border-color;
        display: flex;
        width:100%;
        text-align: center;

        a{
          font-weight: normal;
          font-size: $font-size-xl;
        }
        &:last-child{
          border: none;
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
    &:hover{
      .level-1{
        display: block;
      }
    }
  }
}
.app--header--news {
  position: relative;
  @mixin aDefault{}

  .app--logo {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .app--navbar-container{
    position: relative;
    font-family: $font-1;
    .app--navbar{
      line-height: $xxl-px;
      border-top: $s-px solid $bg-color;
      @mixin appNavbar{}

      a{
        font-size: $font-size-xxl;
        font-weight: bold;
      }
      .fa-icon{
          font-size: $font-size-xxs;
          margin-left: $m-px;
          float: right;
        }
    }

    .fa-menu{
      position: absolute;
      top: 0;
      line-height: $xxl-px;
      width: $xxl-px;
      
      @mixin textHover{}

      &.fa-left-group{
      left:0;
      }
      &.fa-right-group{
        right:0;
        text-align: right;
      }
    }
    
  }
  
  .app--navbar-top-container{
    background: $bg-color;
    padding: $m-px;

    .app--navbar-top{
      @mixin appNavbar{}
      margin: $m-px 0;

      a{
        color: $text-color-active;
        &:hover{
          color: $text-color;
        }
      }
    }
  }
  .header-group-bottom{
    
  }
}
